JWT_SECRET=your-secret-key-change-in-production
PORT=3000
NODE_ENV=production
SQLD_URL=libsql://cv-maker-voicenotesite.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODAzNDEwOTcsImlkIjoiMDE5ZTg0OTgtM2EwMS03MGJkLWIwMzEtMTU5Zjk3YzZhM2Y3IiwicmlkIjoiODYzNjljNmMtNDBiNC00NGU3LTg1ZmUtNzNhZjBlODFjZDlmIn0.8VZ52Bm-rURUd4whwmm2aw5Hrcx8Rs-mayS6QTfdTPXAfCmh2FEhLEalENa2w_84g4Rr1xXsoN4mpSWlfixsAg
